.list {
  text-decoration: none;
  list-style: none;
}

.gray {
  color: rgb(233, 235, 250) !important;
}
.grayDark {
  background-color: rgb(30, 32, 43);
}
.backGround {
  background-image: url(./imges/banner.png);
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.blue {
  background-color: rgb(16, 19, 34);
}
.selectedFormate:hover {
  border: 3px, solid, rgb(80, 80, 201);
  border-radius: 30px;
  padding: 10px;
  color: rgb(85, 85, 243);
}
.yellow-theme {
  background: #f3f04a !important;
}

.brown-text {
  color: rgb(78, 70, 35) !important;
}
.brown-theme {
  background-color: rgb(78, 70, 35) !important;
}
